
<h3><center>DC PRESENTS</center></h3>
<center>
<img src="https://img.wattpad.com/136b18152c06ba98fc0975c35e8718b1b5d71f75/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f3852596d354861383930497349513d3d2d3339363830323632332e313462343261626138353034393866363334393330313331313336322e676966" alt="demon" width="800" height="200">
</center>


<div>
<img src="https://upload.wikimedia.org/wikipedia/en/1/1e/Blackadam52.PNG" alt="" height="200" width="150" >
<div style ="float: right;">
<h2>THE BLACK ADAM</h2>
<p> release on 21 oct</p>
<p>Only on cinemas</p>
</div>
</div>